mixin card(data, black)
  .flex.flex-col.w-full
    img.img-card.drop-shadow(class="hover:scale-95 transition-transform" src=data.url alt=data.title)
    if(black)
      h3.text-base.font-semibold(class="md:text-[12.5px] md:mt-[22.5px] animate-fadeInRight")= data.title
      p.mt-4(class="text-[8.75px] text-[#353535] md:mt-[17.5px]")= data.content
    else 
      h3.text-base.font-semibold.text-white(class="md:text-[12.5px] md:mt-[22.5px] animate-fadeInRight")= data.title
      p.mt-4(class="text-[8.75px] text-white md:mt-[17.5px] animate-fadeIn")= data.content
